* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 4px 0px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196f3;
  color: white;
}

.topnav .search-container {
  display: flex;
  justify-content: right;
  height: fit-content;
  margin-left: 65%;
  width: 28%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 30px;
  background-color: white;
}
.search-container .form-submit {
  width: 98%;
  outline: none;
  border: none;
}
.topnav input[type='text'] {
  padding: 6px;
  margin-top: 4px;
  font-size: 17px;
  border: none;
  outline: none;
  width: 85%;
}

.topnav .search-container button {
  float: right;
  padding: 6px 5px;

  margin-right: 16px;
  background: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: white;
}

.main_content {
  padding-top: 50px;
}
.main_content h1 {
  text-align: left;
  display: flex;
  justify-content: left;
  margin-left: 10%;
  margin: 5px 0px;
  font-family: Tahoma, Helvetica, Segoe UI, Oxygen, Ubuntu, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  font-size: 20px;
  color: black;
}

.main_content .detail-product {
  padding: 15px 0px;
  width: 100%;
  height: 380px;
}
.detail-product .image_product {
  display: flex;
  justify-content: left;
}
.image_product .img-product {
  height: 300px;
  width: 300px;
  margin: 15px 0px;
}
.detail-product .infor-detail {
  justify-content: right;
  padding: 0px 5px;
  margin: 0px 5px;
}
.infor-detail h2 {
  margin: 0px 0px 5px 0px;
}
ul {
  list-style-type: none;
}
.infor-detail li {
  padding: 5px;
  color: rgb(51, 51, 51);
}
.infor-detail .index0 {
  color: rgb(51, 51, 51);
  background-color: rgb(245, 245, 245);
}
.infor-detail p {
  margin: 0px 0px;
}
.description {
  width: 80%;
  margin-left: 10%;
}

.all .main_content {
  padding: 30px 30px 0px 30px;
  margin: 3px 25%;
}
hr {
  width: 80%;
  margin: 5px 10%;
  color: beige;
}

.main_content .image_product {
  margin: 5px 0px;
}
.img-icon {
  height: 25px;
  width: 25px;
}
.description .image-logo {
  height: 50px;
  width: 150px;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 100px;
}

th,
td {
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #d6eeee;
}
